.cutom-bg{
    background-color: #fceae8;
}

.carousel-item{
    padding: 20px 40px;
}

.price{
    color: #ff136f;
}

.custom-buy-btn{
    border: none;
    background: linear-gradient(to bottom,#ff589b, #ff136f);
    border-radius: 8px;
    padding: 5px 25px;
    color: #fff;
    cursor: pointer;

}

header{
    margin-bottom: 80px;
}

section{
    margin-bottom: 80px;
}

.catg-1, .catg-2, .catg-3{
    padding: 10px 30px;
    border-radius: 10px;
}

.catg-1{
    background: linear-gradient(45deg, #F0952F, #F2C71B);
}
.catg-2{
    background: linear-gradient(45deg, #EC478A, #EB206C);
}
.catg-3{
    background: linear-gradient(90deg, #4073FE, #3710F6);
}

.col-md-4 img{
    width: 100px;
}

.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
}